<!DOCTYPE html>
<html>
<head>
    <title>DecisionLens</title>
</head>
<body>
    <h2>Enter Your Decision</h2>
    <form method="POST">
        {% csrf_token %}
        <textarea name="decision_text" rows="4" cols="50"></textarea><br><br>
        <button type="submit">Analyze</button>
    </form>
<br>
<a href="/history/">View Decision History</a>

    {% if paths %}
<h3>Decision Analysis</h3>

<ul>
    {% for p in paths %}
        <li>
            <b>Option:</b> {{ p.path }} <br>
            <b>Risk Level:</b> {{ p.risk }} <br>
            <b>Reason:</b> {{ p.reason }}
        </li>
        <br>
    {% endfor %}
</ul>

{% endif %}
</body>
</html>